In [331]:
import pandas as pd
import numpy as np
import re

In [332]:
# Read as csv
df = pd.read_csv('cleaned_2.txt', sep = ';', header = None, names = ['blob'])

In [333]:
# Extract password letter number
df['letter'] = df['blob'].str.partition('password,', True)[2].str.partition(',', True)[0].astype(int)

In [334]:
# Extract ascii character number
df['bin_char_index'] = df['blob'].str.partition('))),', True)[2].str.slice(stop =1).astype(int)

In [335]:
# Extract time string
df['time']=df['blob'].str.slice(start = 0, stop =8)

In [336]:
# Convert time string to time format
df['time']  = pd.to_datetime(df['time'],format= '%H:%M:%S' )

In [337]:
df.drop(['blob'], axis = 1, inplace = True)

In [338]:
# Find time difference in seconds with next row of data
df['next_time'] = df['time'].shift(-1)
df['time_diff'] = (df['next_time'] - df['time']).dt.seconds

In [339]:
df['time_diff'] = df['time_diff'].fillna(2)

In [340]:
conditions = [
    (df['time_diff'] == 0) & (df['bin_char_index'] != 7),
    (df['time_diff'] == 2) & (df['bin_char_index'] != 7),
    (df['time_diff'] == 4) & (df['bin_char_index'] != 7),
    (df['time_diff'] == 6) & (df['bin_char_index'] != 7),
    (df['time_diff'] == 2) & (df['bin_char_index'] == 7),]

choices = ['00', '01', '10', '11','0']

df['bin_char'] = np.select(conditions, choices, default='1')

In [341]:
df

,letter,bin_char_index,time,next_time,time_diff,bin_char
0,1,1,1900-01-01 12:12:54,1900-01-01 12:13:00,6.0,11
1,1,3,1900-01-01 12:13:00,1900-01-01 12:13:00,0.0,00
2,1,5,1900-01-01 12:13:00,1900-01-01 12:13:06,6.0,11
3,1,7,1900-01-01 12:13:06,1900-01-01 12:13:10,4.0,1
4,2,1,1900-01-01 12:13:10,1900-01-01 12:13:16,6.0,11
...,...,...,...,...,...,...
79,20,7,1900-01-01 12:16:58,1900-01-01 12:17:02,4.0,1
80,21,1,1900-01-01 12:17:02,1900-01-01 12:17:02,0.0,00
81,21,3,1900-01-01 12:17:02,1900-01-01 12:17:02,0.0,00
82,21,5,1900-01-01 12:17:02,1900-01-01 12:17:02,0.0,00
83,21,7,1900-01-01 12:17:02,NaT,2.0,0

In [342]:
df = df.groupby(['letter'])['bin_char'].apply(''.join).reset_index()

In [344]:
df['bin_char']='0' + df['bin_char']

In [345]:
df

    letter  bin_char
0        1  01100111
1        2  01110011
2        3  01010101
3        4  01010111
4        5  01000100
5        6  01110001
6        7  01000101
7        8  01011010
8        9  01100111
9       10  01000010
10      11  01101000
11      12  01000010
12      13  01110000
13      14  01100011
14      15  01101001
15      16  01101110
16      17  01010100
17      18  01010011
18      19  01000001
19      20  01010011
20      21  00000000

In [353]:
password_list = df['bin_char'].tolist()

In [354]:
password = ' '.join(password_list)

In [355]:
password

'01100111 01110011 01010101 01010111 01000100 01110001 01000101 01011010 01100111 01000010 01101000 01000010 01110000 01100011 01101001 01101110 01010100 01010011 01000001 01010011 00000000'